/* ---- button ---- */

.button {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: #222222;
    border: none;
    border-radius: 0px;
    color: #D9CAA5;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #D9CAA5;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
  }
  
  .button:active,
  .button.is-checked {
    background-color: #A88852;
  }
  
  .button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  }
  
  .button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
    border-radius: 3;
  }
  
  /* ---- button-group ---- */
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .button-group .button {
    float: none;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  
  /*
  .button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
  .button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }
  */
  /* ---- isotope ---- */
  

  .grid-container {
    margin: 0 auto;
    display: block;
  }


  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-container{
      margin: auto;
  }
  
  
  .element-item,
  .element-sizer {
    width: 50%;
  }
  

  /* ---- .element-item ---- */
  

  .element-item {

    float: left;
    height: auto;
    /*height: 100px;*/
    /*border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);*/
  }

  .element-item--width2 { width: 100%; }
  .element-item--height2 { height: 200px; }



 

  
  .element-item .music{
    background: #17191c;

  }

  .element-item .title{
      text-transform: uppercase;
      text-align: center;
      font-stretch: semi-condensed;
      color: #D9CAA5;
      font-size: 1.1rem;
      font-weight: 400;
  }

  .element-item .descr{
      color: #EEE;
  }

  .element-item .year{
    font-weight: 900;
    color: #D9CAA5;
}

.element-item .text {
  /*background-color: #4CAF50;*/
  color: #D9CAA5;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
}

/* Bottom left text */
.element-item .bottom-right {
  opacity: 0.9;
  color: #D9CAA5;
  position: absolute;
  font-weight: 500;
  bottom: 12px;
  right: 12px;
}

.element-item .icon {
  opacity: 0.9;
  color: #D9CAA5;
  position: absolute;
  font-weight: 500;
  font-size: 1.2rem;
  bottom: 12px;
  left: 14px;

}

.image {
  opacity: 0.7;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 0.5rem;
}

.middle {
  background-color: #222222;
  transition: .5s ease;
  opacity: 0.8;
  position: absolute;
  width: auto;
  top: 8px;
  left: 8px;
  text-align: center;
}

/*.middle .text{
  opacity: 0.1;
}*/


.element-item:hover .image {
  opacity: 1;
}

.element-item:hover .middle{
  opacity: 0.9;
  background-color: #D9CAA5;

}

.element-item:hover .bottom-right{
  opacity: 1;
}

.element-item:hover .text {
  /*background-color: #4CAF50;*/
  color: #17191c;
}



@media (min-width: 992px) {
  .element-sizer, .element-item {
    width: 20%;
  }
  .element-item--width2 { width: 40%; }
}
